$estilos: (
  color: red,
  centro: center,
  tFuente: 35px,
  1rem : 1rem
);

h2.G2{
  background-color: map-get($estilos, color);
  text-align: map-get($estilos, centro);
  padding: map-get($estilos, 1rem);
  font-size:map-get($estilos, tFuente);
}

