footer{
	padding-top: 40px;
}
.img1{
  margin:auto ;
  display: block;
  height: 92px ;
  width: 136px;
 }
.img2{
  margin:auto ;
  display: block;
  height: 46px ;
  width: 171px;	

}
.img3{
  margin:auto ;
  display: block;
  height: 85px ;
  width: 90px;
}
