@import "colores";
@import "header";
@import "footer";
@import "contacto";
@import "productos";
main{
	padding: auto;
	div{
		padding-top:15px;
		h1{ text-align: center;
			text-decoration: bold;	
		}
	}
}
main{
	padding-top:50px;
	div{
		font-size: 20px;
		p{
			font-family: Verdana;
			font-size: 30px;
		}
	}
}
.card-title{
	color: $colorblanco;
	text-decoration: underline;
	font-family:fantasy;
	text-align: center;
}
.card-text{
	background: $bgprimario;
	text-align: center;
	font-size: 15px;
	font-family: serif;
	padding-top: 5px;
}
div{
	h5{
		p{
			font-size: 8px;
		}
	}
}
div{
	padding-top:15px;
	h2{
		text-align: center;
			text-decoration: bold;	
	}
}
.mapa{
	padding-top: 20px;
	display: block;
  margin:auto; 
}
h1{ text-align: center;
			text-decoration: bold;}
